* {
  margin: 0;
  padding:0;
  font-family: "Space Grotesk", sans-serif;;
}

/*Barra de navegacion*/
nav {
  background-color: #0055ff;
  color: white;
  font-size: 25px;
  /*al poner display flex, el elemento se convierte en una fila automaticamente*/
  display: flex;
  /*Eje principal, solo se puede usar si el elemento es flex*/
  justify-content: space-between;
  /*Eje secundario, solo se puede usar si el elemento es flex*/
  align-items: center;
  /*height: 300px;*/
  /*padding es la distancia entre el borde de la caja y su contenido*/
  padding: 20px;
  /*
  padding: 20px; 20 px en todas las direcciones
  padding: 20px 0; 20 arriba y abajo, 0 derecha e izquierda
  padding: 20px 0 20px 0; 20 arriba, 0 derecha, 20 abajo, 0 izquierda
  */
  border-radius: 0 0 15px 15px;
  /*Radio de los bordes, se lee arriba izquierda, arriba derecha
  abajo izquierda, abajo derecha*/
}
/*
  nav div selecciona todos los divs dentro de nav
  nav > div selecciona solo los divs hijos directos de nav
*/
nav div {
  display: flex;
  gap: 20px 
  /* el "gap" es el espaciado entre los elementos de la fila o columna*/
}
/*
Las pseudoclases manejan el estado de un elemento
:hover se activa cuando el mouse pasa por encima del elemento
:active se activa cuando el elemento es presionado
:focus se activa cuando el elemento es seleccionado
:visited se activa cuando el elemento ha sido visitado
:link se activa cuando el elemento es un enlace (link)
:first-child se activa cuando el elemento es el primer hijo de su padre
:last-child se activa cuando el elemento es el ultimo hijo de su padre
*/
nav div a:visited, nav div a:link {
  color: white;
  text-decoration: none;
  transition: all 1s ease;
}

.enlace:hover {
color: black;
}
/*
con el "#" se identifica un id, y con el "." se identifica una clase
*/
/*
#Inicio:hover, #Introduccion:hover {
  color: rgb(0, 0, 0); ;
}
*/
/*
  Lo eliminare para usar una propiedad de flex, que me ahorrara
  escribir este codigo
  nav div a {
    margin: 0 20px;
  }
*/

/*MAIN*/
main{
  /*para agragar una color de forma gradiente, escribimos
  linear-gradient en el backgraunt-image o tambien en el backgraunt */
  background-color: black;
  background-image: linear-gradient(to right, #bd4444, #d8e751);
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}

/*
GRID
Grid es un tipo de display que permite manejar
un sistema de filas y columnas (se pueden utilizar %, px y fr)
*/

header {
  height: 80vh;
  min-height: 80vh;
  background-color: aqua;
  background-image: url("./../../../../../../Downloads/Viktor2.jpg");
  background-size: cover;
  /*opacity; 0.1;*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 25px;
  /* eje principal (solo para el caso de usar "display: grid")*/
  justify-items: center;
  /* eje secundario (solo para el caso de usar "display: grid")*/
  align-content: center;
  gap: 20px;
}

header > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

header > div > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/*Animacion*/
.gradient-background {
  background: linear-gradient(175deg,#bd4444,#d8e751,#ffffff);
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;
}
/*@keyframes se usa para crear animaciones, y va por porcentajes (%)*/
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
